<div class="navbar-container action">
  <div class="action-container">
    <img class="activity" src="/assets/icons/activity.png" />
    <img class="chat" src="/assets/icons/chat.png"/>
    <img class="message" src="/assets/icons/message.png" />
    <img class="calendar" src="/assets/icons/calendar.png" />
    <img class="fav" src="/assets/icons/fav.png" />
  </div>
</div>

<div class="navbar-container profile">
  <div class="action-container">
    <div class="language-container">
      <img class="flag" src="/assets/icons/flag.png" />
      <span class="language">English</span>
    </div>
    <div class="search icon"></div>

    <div class="cart icon">
      <div class="count">8</div>
    </div>

    <div class="notifications icon">
      <div class="count">4</div>
    </div>

    <div class="profile-container">
      <span class="full-name">Jogn Doe</span>
      <span class="access">Admin</span>
    </div>
    
    <div class="avatar-container online">
      <img class="avatar" src="/assets/images/profile.png" />
    </div>
  </div>
</div>


