:host {
    height: inherit;
    width: inherit;
    padding: 13px 21px 22px;
    position: relative;
}

h2 {
    margin-bottom: 6px;
}

h4 {
    margin-bottom: 26px;
}

span {
    float: left;
    width: 100%;
    margin-bottom: 11px;
    font-size: 21px;
    font-weight: 600;
    color: #7367F0;
}

button {
    float: left;
}

.medal {
    height: 132px;
    width: 77px;
    background-image: url(/assets/images/medal.png);
        
    /* TODO */
}