<div class="card">
  <div class="card-image"></div>
  <div class="card-body">
    <div class="card-title">
      <div class="date">
        <h3>THU</h3>
        <span>24</span>
      </div>
      <div class="separator"></div>
      <div class="title">
        <h1>Developer Meetup</h1>
        <h3>Meet world popular developers</h3>
      </div>
    </div>
    <div class="event">
      <div class="event-date">
        <div class="icon"></div>
        <div class="info">
          <h3>Sat, May 25, 2020</h3>
          <h4>10:AM to 6:PM</h4>
        </div>
      </div>
      <div class="event-location">
        <div class="icon"></div>
        <div class="info">
          <h3>Central Park</h3>
          <h4>Manhattan, New york City</h4>
        </div>
      </div>
    </div>
    <div class="users">
      <div class="avatars"></div>
      <span class="count">+42</span>
    </div>
  </div>
</div>