:host {
    height: inherit;
    width: inherit;
    padding: 17px 22px 14px;
    position: relative;
}

h1 {
    margin-bottom: 14px;
}

h3 {
    margin-bottom: 16px;
}

span {
    display:block;
    width: 171px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #B9B9C3;
    word-break: break-word;
}

.chart {
    height: 114px;
    width: 115px;
    background-image: url(/assets/images/earning-chart.png);
    /* TODO */
}