<div class="table">
  <div class="columns">
    <h4 class="column">COMPANY</h4>
    <h4 class="column">CATEGORY</h4>
    <h4 class="column">VIEWS</h4>
    <h4 class="column">REVENUE</h4>
    <h4 class="column">SALES</h4>
  </div>

  <div class="rows">
    <div class="row">
      <div class="column">
        <div class="icon"></div>
        <div class="company">
          <h3>Dixons</h3>
          <h4>meguc@ruj.io</h4>
        </div>
      </div>
      <div class="column">
        <div class="category"></div>
        <span>Technology</span>
      </div>
      <div class="column">
        <div class="views">
          <h3>23.4k</h3>
          <h4>in 24 hours</h4>
        </div>
      </div>
      <div class="column">
        <div class="revenue">
          <span>$891.2</span>
        </div>
      </div>
      <div class="column">
        <div class="sales up">
          <span>68%</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="icon"></div>
        <div class="company">
          <h3>Dixons</h3>
          <h4>meguc@ruj.io</h4>
        </div>
      </div>
      <div class="column">
        <div class="category"></div>
        <span>Technology</span>
      </div>
      <div class="column">
        <div class="views">
          <h3>23.4k</h3>
          <h4>in 24 hours</h4>
        </div>
      </div>
      <div class="column">
        <div class="revenue">
          <span>$891.2</span>
        </div>
      </div>
      <div class="column">
        <div class="sales up">
          <span>68%</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="icon"></div>
        <div class="company">
          <h3>Dixons</h3>
          <h4>meguc@ruj.io</h4>
        </div>
      </div>
      <div class="column">
        <div class="category"></div>
        <span>Technology</span>
      </div>
      <div class="column">
        <div class="views">
          <h3>23.4k</h3>
          <h4>in 24 hours</h4>
        </div>
      </div>
      <div class="column">
        <div class="revenue">
          <span>$891.2</span>
        </div>
      </div>
      <div class="column">
        <div class="sales up">
          <span>68%</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="icon"></div>
        <div class="company">
          <h3>Dixons</h3>
          <h4>meguc@ruj.io</h4>
        </div>
      </div>
      <div class="column">
        <div class="category"></div>
        <span>Technology</span>
      </div>
      <div class="column">
        <div class="views">
          <h3>23.4k</h3>
          <h4>in 24 hours</h4>
        </div>
      </div>
      <div class="column">
        <div class="revenue">
          <span>$891.2</span>
        </div>
      </div>
      <div class="column">
        <div class="sales up">
          <span>68%</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="icon"></div>
        <div class="company">
          <h3>Dixons</h3>
          <h4>meguc@ruj.io</h4>
        </div>
      </div>
      <div class="column">
        <div class="category"></div>
        <span>Technology</span>
      </div>
      <div class="column">
        <div class="views">
          <h3>23.4k</h3>
          <h4>in 24 hours</h4>
        </div>
      </div>
      <div class="column">
        <div class="revenue">
          <span>$891.2</span>
        </div>
      </div>
      <div class="column">
        <div class="sales up">
          <span>68%</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="icon"></div>
        <div class="company">
          <h3>Dixons</h3>
          <h4>meguc@ruj.io</h4>
        </div>
      </div>
      <div class="column">
        <div class="category"></div>
        <span>Technology</span>
      </div>
      <div class="column">
        <div class="views">
          <h3>23.4k</h3>
          <h4>in 24 hours</h4>
        </div>
      </div>
      <div class="column">
        <div class="revenue">
          <span>$891.2</span>
        </div>
      </div>
      <div class="column">
        <div class="sales up">
          <span>68%</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="icon"></div>
        <div class="company">
          <h3>Dixons</h3>
          <h4>meguc@ruj.io</h4>
        </div>
      </div>
      <div class="column">
        <div class="category"></div>
        <span>Technology</span>
      </div>
      <div class="column">
        <div class="views">
          <h3>23.4k</h3>
          <h4>in 24 hours</h4>
        </div>
      </div>
      <div class="column">
        <div class="revenue">
          <span>$891.2</span>
        </div>
      </div>
      <div class="column">
        <div class="sales up">
          <span>68%</span>
        </div>
      </div>
    </div>
  </div>
</div>