<h4>Updated 1 month ago</h4>

<h1>Statistics</h1>

<div class="card-container">
  <div class="card">
    <div class="card-icon"></div>
    <div class="card-info">
      <div class="value">230k</div>
      <h4>Sales</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-icon"></div>
    <div class="card-info">
      <div class="value">8.549k</div>
      <h4>Customers</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-icon"></div>
    <div class="card-info">
      <div class="value">1.423k</div>
      <h4>Products</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-icon"></div>
    <div class="card-info">
      <div class="value">$9745</div>
      <h4>Revenue</h4>
    </div>
  </div>
</div>